= form_for @photo, html: { multipart: true } do |p|
  .form-group
    = p.label :title
    = p.text_field :title, class: 'form-control'
  .form_group
    = p.label :description
    = p.text_area :description, class: 'form-control'
  .form_group
    = p.label :photo
    = p.file_field :photo
    - if @photo.photo.exists?
      = image_tag @photo.photo.url(:thumb)
  .pull-right.btn-d-group
    = p.submit class: 'btn btn-primary'
    = link_to "Cancel", @photo, class: 'btn btn-default'