.col-md-8.col-md-offset-2
  - flash.each do |name, msg|
    = content_tag  :div, msg, class: 'alert alert-info'
  .row
    .panel.panel-default
      .panel-heading
        %h4
          = @photo.title
      .panel-body
        = image_tag @photo.photo.url, class: 'img-responsive'
        .small
          = @photo.description
        .tag
          = raw tag_links(@photo.tag_list)
      .panel-footer
        .row
          .pull-right
            .btn-group.btn-group-fix
              = link_to like_photo_path, method: "put", class: "btn btn-default" do
                %span.glyphicon.glyphicon-thumbs-up
                = @photo.get_upvotes.size
              - if user_signed_in? && is_current_user_photo(@photo)
                = link_to "Edit", edit_photo_path, class: 'btn btn-primary'
                = link_to "Remove", photo_path, method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-danger"
              = link_to "Back", root_path, class: 'btn btn-default'
  - if user_signed_in?
    .row
      .panel.panel-default
        .panel-heading
          %h4
            Comment
        .panel-body
          = render 'partials/photos/comment'
          = render 'partials/photos/comment_form'