.col-md-8.col-md-offset-2
  - flash.each do |name, msg|
    =content_tag  :div, msg, class: 'alert alert-info'
  .row
    .panel.panel-default
      .panel-heading
        %h4
          = @photo.title
      .panel-body
        = image_tag @photo.photo.url, class: 'img-responsive'
      .panel-footer
        .pull-right
          .btn-group
            = link_to "Edit", edit_photo_path, class: 'btn btn-primary'
            = link_to "Remove", photo_path, method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-danger"
            = link_to "Back", root_path, class: 'btn btn-default'